[submodule "module/libstdcxx"]
	path = module/libstdcxx
	url = https://github.com/fishjump/osdevc_libstdcxx.git
[submodule "module/libport"]
	path = module/libport
	url = https://github.com/fishjump/osdevc_libport.git
[submodule "module/libinterrupt"]
	path = module/libinterrupt
	url = https://github.com/fishjump/osdevc_libinterrupt.git
[submodule "module/libboot"]
	path = module/libboot
	url = https://github.com/fishjump/osdevc_libboot.git
[submodule "module/libmemory"]
	path = module/libmemory
	url = https://github.com/fishjump/osdevc_libmemory.git
[submodule "module/libcolor"]
	path = module/libcolor
	url = https://github.com/fishjump/osdevc_libcolor.git
[submodule "module/libscreen"]
	path = module/libscreen
	url = https://github.com/fishjump/osdevc_libscreen.git
[submodule "module/libglobal"]
	path = module/libglobal
	url = https://github.com/fishjump/osdevc_libglobal.git
[submodule "module/libfont"]
	path = module/libfont
	url = https://github.com/fishjump/osdevc_libfont.git
[submodule "module/libtextscreen"]
	path = module/libtextscreen
	url = https://github.com/fishjump/osdevc_libtextscreen.git
[submodule "module/libkeyboard"]
	path = module/libkeyboard
	url = https://github.com/fishjump/osdevc_libkeyboard.git
